doctype html
html(lang='en')
  head
    title= title
    link(href='/vendor/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/vendor/sweetalert/dist/sweetalert.css', rel='stylesheet')
  body(ng-app='paymentApp')
    nav.navbsar.navbar-default(ng-controller='navCtrl')
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#nav-collapse', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(ui-sref='home')= title
        #nav-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(ui-sref='books.index')#booksLink Books
            li
              a(ui-sref='register')#registerLink Register
            li
              a(ui-sref='login')#loginLink Login
            li
              a#logout(ng-click='logout()') Logout
    .container
      ui-view
    
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/angular-ui-router/release/angular-ui-router.min.js')
    script(src='/vendor/ngstorage/ngStorage.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/sweetalert/dist/sweetalert.min.js')
    script(src='/bundle.js')
